mixin nav-content()
  ul
    li: a(href="#home") Home
    li: a(href="#about") About
    li: a(href="#login") Login


._navigation
  +nav-content()

._header
  ._header-inner
    ._toggle: span
    ._logo
      h1 GLFLC
