mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#youtube") YouTube
    //li: a(href="#mentoring") Mentoring
    li: a(href="#articles") Articles
    li: a(href="#vine") Vine
    li: a(href="#design") Design
    li: a(href="#notes") Notes
    li: a(href="#podcast") Podcast
    li: a(href="#contact") Contact

._navigation
  +nav-content()

._header
  ._toggle: span
  ._logo
